    <!-- Sidebar -->
    <nav class="sidebar">
        <a class="navbar-brand text-center fw-bold d-block mb-4 text-white" href="#">Sistema Escolar</a>
        <a href="/">🏠 Início</a>
        <a href="/aluno">👨‍🎓 Alunos</a>
        <a href="/professor">👩‍🏫 Professores</a>
        <a href="/turma">👩‍🏫 Turmas</a>
        <a href="/curso">📚 Cursos</a>
        <a href="/matricula">📚 Matrículas</a>
        <a href="/ajuda">❓ Ajuda do Sistema</a>
        <a href="/contato">📚 Contato</a>
        <a href="/sobre">ℹ️ Sobre</a>

    </nav>